<h1>Product Page</h1>

<h3><%= @product.title %></h3>

<ul>
  <li><%= @product.description %></li>
  <li><%= @product.brand %></li>
  <li><%= @product.category %></li>
  <li><%= @product.sale_message %></li>
  <li>$<%= @product.price %></li>
  <li>$<%= @product.sales_tax %></li>
  <li>$<%= @product.total %></li>
<ul>
